<div style="margin: 0 auto; width: 80%; max-width:50rem; text-align:center; font-family: sans-serif; ">
<h1>Glaswelltir Ceredigion Grassland</h1>
<img src="https://res.cloudinary.com/naturceredigion/image/upload/f_auto,w_500/v1721069713/240627-wwbic-meadow-id-llangeitho-tregaron.jpg" alt="Group walking across grassy land, sunny with clouds and blue sky above" width="500">
<h3>A public group whose aim is to increase flower-rich grassland in Ceredigion by offering support and advice to landowners and communities, guided by the Well-being of Future Generations Act.</h3>
<p><form action="https://buttondown.email/api/emails/embed-subscribe/GlaswelltirCeredigion" method="post" target="popupwindow" onsubmit="window.open(&quot;https://buttondown.email/GlaswelltirCeredigion&quot;,&quot;popupwindow&quot;)" class="embeddable-buttondown-form"><label for="bd-email">Subscribe to our newsletter:</label>
<input type="email" name="email" id="bd-email">
<input type="submit" value="Subscribe"></form></p>
<p>Email: <a href="mailto:glaswelltirceredigion@proton.me">glaswelltirceredigion@proton.me</a></p>
</div>
